.team-winner{
    font: 14px/1.25 "Helvetica Neue",helvetica,arial,sans-serif;
    color: #000;
    font-weight: bold;
}

.score-winner {
    font: 14px/1.25 "Helvetica Neue",helvetica,arial,sans-serif;
    color: #000;
    font-weight: bold;
}

